# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\DATN\su24-sd20-giay-the-thao-maguirestore\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
